qb4olapEngine/mondrian.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Schema" >
		<xs:annotation>
			<xs:documentation>
				A schema is a collection of cubes and virtual cubes.
				It can also contain shared dimensions (for use by those cubes),
				named sets, roles, and declarations of user-defined functions.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="1">
				<xs:element name="Annotations" type="Annotations" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							A Parameter defines a schema parameter. It can be referenced from an MDX
							statement using the ParamRef  function and, if not final, its value can be overridden.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>
									Name of this parameter. 
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="description" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>
									Description of this parameter.  
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="type" use="required">
							<xs:annotation>
								<xs:documentation>
									Indicates the type of this parameter: String, Numeric, Integer,
									Boolean, Date, Time, Timestamp, or Member.  
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="String"/>
									<xs:enumeration value="Numeric"/>
									<xs:enumeration value="Integer"/>
									<xs:enumeration value="Boolean"/>
									<xs:enumeration value="Date"/>
									<xs:enumeration value="Time"/>
									<xs:enumeration value="Timestamp"/>
									<xs:enumeration value="Member"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="modifiable" type="xs:boolean" default="true" use="optional">
							<xs:annotation>
								<xs:documentation>
									If false, statement cannot change the value of this parameter; the
									parameter becomes effectively constant (provided that its default
									value expression always returns the same value). Default is true. 
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="defaultValue" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>
									Expression for the default value of this parameter.  
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Dimension" type="SharedDimension" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Cube" minOccurs="1" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							Definition of a cube.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Annotations" type="Annotations" minOccurs="0" maxOccurs="1"/>
							<xs:group ref="FactTable" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>
										The fact table is the source of all measures in this cube.
										If this is a Table and the schema name is not present, table name is left unqualified. 
									</xs:documentation>
								</xs:annotation>
							</xs:group>
							<xs:choice minOccurs="1" maxOccurs="unbounded">
								<xs:element name="DimensionUsage" type="DimensionUsage"/>
								<xs:element name="Dimension" type="PrivateDimension"/>
							</xs:choice>
							<xs:element name="Measure" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Annotations" type="Annotations" minOccurs="0" maxOccurs="1"/>
										<xs:element name="MeasureExpression" type="ExpressionView" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>
													The SQL expression used to calculate a measure.
													Must be specified if a source column is not specified.
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CalculatedMemberProperty" type="CalculatedMemberProperty" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>
												Name of this measure.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="column" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>
												Column which is source of this measure's values. If not specified,
												a measure expression must be specified.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="datatype" use="optional">
										<xs:annotation>
											<xs:documentation>
												The datatype of this measure: String, Numeric, Integer, Boolean, Date, Time or Timestamp.
												The default datatype of a measure is 'Integer' if the measure's aggregator is 'Count', otherwise it is 'Numeric'. 
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="String"/>
												<xs:enumeration value="Numeric"/>
												<xs:enumeration value="Integer"/>
												<xs:enumeration value="Boolean"/>
												<xs:enumeration value="Date"/>
												<xs:enumeration value="Time"/>
												<xs:enumeration value="Timestamp"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="formatString" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>
												Format string with which to format cells of this measure.
												For more details, see the mondrian.util.Format class. 
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="aggregator" use="required">
										<xs:annotation>
											<xs:documentation>
												Aggregation function. Allowed values are "sum", "count", "min", "max", "avg", and "distinct-count".
												("distinct count" is allowed for backwards compatibility, but is deprecated because XML
												enumerated attributes in a DTD cannot legally contain spaces.) 
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="sum"/>
												<xs:enumeration value="count"/>
												<xs:enumeration value="min"/>
												<xs:enumeration value="max"/>
												<xs:enumeration value="avg"/>
												<xs:enumeration value="distinct-count"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="formatter" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>
												Name of a formatter class for the appropriate cell being displayed.
												The class must implement the mondrian.olap.CellFormatter interface.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="caption" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>
												A string being displayed instead of the name.
												Can be localized from Properties file using #{propertyname}.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="description" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>
												Description of this measure. Can be localized from Properties file using #{propertyname}.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="visible" type="xs:boolean" use="optional" default="true">
										<xs:annotation>
											<xs:documentation>
												Whether this member is visible in the user-interface. Default true.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="CalculatedMember" type="CalculatedMember" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										Calculated members in this cube.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="NamedSet" type="NamedSet" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										Named sets in this virtual cube.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>
									Name of this cube. 
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="caption" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>
									A string being displayed instead of the cube's name. Can be localized from Properties
									file using #{propertyname}.  
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="description" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>
									Description of this cube. Can be localized from Properties file using #{propertyname}.   
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="defaultMeasure" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>
									The name of the measure that would be taken as the default measure of the cube. 
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="cache" type="xs:boolean" default="true" use="optional">
							<xs:annotation>
								<xs:documentation>
									Should the Fact table data for this Cube be cached by Mondrian or not.
									The default action is to cache the data.  
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="enabled" type="xs:boolean" default="true" use="optional">
							<xs:annotation>
								<xs:documentation>
									Whether element is enabled - if true, then the Cube is realized
									otherwise it is ignored.   
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="VirtualCube" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							Virtual cubes in this schema.
							A VirtualCube is a set of dimensions and measures gleaned from other cubes. 
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Annotations" type="Annotations" minOccurs="0" maxOccurs="1"/>
							<xs:element name="CubeUsages" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>
										List of base cubes used by the virtual cube. 
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CubeUsage" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="cubeName" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation>
															Name of the cube which the virtualCube uses.
														</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ignoreUnrelatedDimensions" type="xs:boolean" default="false" use="optional">
													<xs:annotation>
														<xs:documentation>
															Unrelated dimensions to measures in this cube will be pushed to top level member.
														</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="VirtualCubeDimension" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										A VirtualCubeDimension is a usage of a Dimension in a VirtualCube. 
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="cubeName" type="xs:string">
										<xs:annotation>
											<xs:documentation>
												Name of the cube which the dimension belongs to, or unspecified if the dimension is shared.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="name" type="xs:string">
										<xs:annotation>
											<xs:documentation>
												Name of the dimension.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="VirtualCubeMeasure" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										A VirtualCubeMeasure is a usage of a Measure in a VirtualCube.
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Annotations" type="Annotations" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
									<xs:attribute name="cubeName" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>
												Name of the cube which the measure belongs to. 
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="name" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>
												Unique name of the measure within its cube. 
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="visible" type="xs:boolean" default="true" use="optional">
										<xs:annotation>
											<xs:documentation>
												Whether this member is visible in the user-interface. Default true.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="CalculatedMember" type="CalculatedMember" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										Calculated members that belong to this virtual cube.
										(Calculated members inherited from other cubes should not be in this list).
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="NamedSet" type="NamedSet" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										Named sets in this virtual cube.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="enabled" type="xs:boolean" default="true" use="optional">
							<xs:annotation>
								<xs:documentation>
									Whether this element is enabled - if true, then the Virtual Cube is realized otherwise it is ignored. 
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="defaultMeasure" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>
									The name of the measure that would be taken as the default measure of the cube.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="caption" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>
									A string being displayed instead of the cube's name. Can be localized from Properties file using #{propertyname}. 
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="description" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>
									Description of this virtual cube. Can be localized from Properties file using #{propertyname}. 
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="NamedSet" type="NamedSet" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							Named sets in this schema.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Role" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							A role defines an access-control profile. It has a series of grants (or denials) for schema elements. 
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Annotations" type="Annotations" minOccurs="0" maxOccurs="1"/>
							<xs:element name="SchemaGrant" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										Grants (or denies) this role access to this schema. access may be "all", "all_dimensions", or "none".
										If access is "all_dimensions", the role has access to all dimensions but still needs explicit access to cubes.
										See mondrian.olap.Role#grant(mondrian.olap.Schema,int). 
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CubeGrant" minOccurs="1" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>
													Grants (or denies) this role access to a cube. access may be "all" or "none".
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="DimensionGrant" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>
																Grants (or denies) this role access to a dimension. access may be "all" or "none".
																Note that a role is implicitly given access to a dimension when it is given acess to a cube.
																See also the "all_dimensions" option of the "SchemaGrant" element.
															</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="dimension" type="xs:string" use="required">
																<xs:annotation>
																	<xs:documentation>
																		The unique name of the dimension
																	</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="access" use="required">
																<xs:annotation>
																	<xs:documentation>
																		Values correspond to Access.
																	</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="all"/>
																		<xs:enumeration value="none"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="HierarchyGrant" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>
																Grants (or denies) this role access to a hierarchy. access may be "all", "custom" or "none".
																If access is "custom", you may also specify the attributes topLevel, bottomLevel, and the member grants.
															</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="MemberGrant" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>
																			Grants (or denies) this role access to a member. The children of this member inherit that access.
																			You can implicitly see a member if you can see any of its children.
																		</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="member" type="xs:string">
																			<xs:annotation>
																				<xs:documentation>
																					The unique name of the member
																				</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="access" use="required">
																			<xs:annotation>
																				<xs:documentation>
																					Values correspond to Access.
																				</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="all"/>
																					<xs:enumeration value="none"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="hierarchy" type="xs:string" use="required">
																<xs:annotation>
																	<xs:documentation>
																		The unique name of the hierarchy
																	</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="access" use="required">
																<xs:annotation>
																	<xs:documentation>
																		Values correspond to Access.
																	</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="all"/>
																		<xs:enumeration value="none"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="topLevel" type="xs:string" use="optional">
																<xs:annotation>
																	<xs:documentation>
																		Unique name of the highest level of the hierarchy from which this role is allowed to see members.
																		May only be specified if the HierarchyGrant.access is "custom". If not specified, role can see members up to the top level.
																	</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="bottomLevel" type="xs:string" use="optional">
																<xs:annotation>
																	<xs:documentation>
																		Unique name of the lowest level of the hierarchy from which this role is allowed to see members.
																		May only be specified if the HierarchyGrant.access is "custom". If not specified, role can see members down to the leaf level.
																	</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="rollupPolicy" default="full" use="optional">
																<xs:annotation>
																	<xs:documentation>
																		Policy which determines how cell values are calculated if not all of the children of the current cell are visible to the current role.
																		Allowable values are 'full' (the default), 'partial', and 'hidden'.
																	</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="full"/>
																		<xs:enumeration value="partial"/>
																		<xs:enumeration value="hidden"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="cube" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation>
															The unique name of the cube
														</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="access" use="required">
													<xs:annotation>
														<xs:documentation>
															Values correspond to Access.
														</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="all"/>
															<xs:enumeration value="none"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="access" use="required">
										<xs:annotation>
											<xs:documentation>
												Values correspond to Access.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="all"/>
												<xs:enumeration value="none"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Union">
								<xs:annotation>
									<xs:documentation>
										Body of a Role definition which defines a Role to be the union of several Roles.
										The RoleUsage elements must refer to Roles that have been declared earlier in this schema file. 
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RoleUsage" minOccurs="1" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>
													Usage of a Role in a union Role.
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="roleName" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="UserDefinedFunction" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							Declarations of user-defined functions in this schema.
							A UserDefinedFunction is a function which extends the MDX language.
							It must be implemented by a Java class which implements the interface mondrian.spi.UserDefinedFunction.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>
									Name with which the user-defined function will be referenced in MDX expressions.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="className" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>
									Name of the class which implemenets this user-defined function.
									Must implement the mondrian.spi.UserDefinedFunction  interface. 
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>
						Name of this schema
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="description" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>
						Description of this schema. 
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="measuresCaption" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>
						Label for the measures dimension.
						Can be localized from Properties file using #{propertyname}.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="defaultRole" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>
						The name of the default role for connections to this schema
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Annotations">
		<xs:annotation>
			<xs:documentation>
				Contains values of user-defined properties.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Annotation" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType mixed="true">
					<xs:attribute name="name" type="xs:string"></xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SharedDimension">
		<xs:annotation>
			<xs:documentation>
				Shared dimensions in this schema.
				A Dimension is a collection of hierarchies. There are two kinds: a public
				dimension belongs to a Schema, and be used by several cubes;
				a private dimension belongs to a Cube.
				The foreignKey field is only applicable to private dimensions. 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Annotations" type="Annotations" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Hierarchy" type="Hierarchy" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>
					Name of this dimension
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" default="Standard">
			<xs:annotation>
				<xs:documentation>
					The dimension's type may be one of "Standard" or "Time".
					A time  dimension will allow the use of the MDX time functions
					(WTD, YTD, QTD, etc.). Use a standard dimension if the dimension
					is not a time-related dimension. The default value is "Standard". 
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Standard"/>
					<xs:enumeration value="TimeDimension"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="caption" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					A string being displayed instead of the dimensions's name.
					Can be localized from Properties file using #{propertyname}. 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Description of this dimension. Can be localized from Properties file using #{propertyname}.  
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PrivateDimension">
		<xs:annotation>
			<xs:documentation>
				Private dimensions in the cube.
				A Dimension is a collection of hierarchies. There are two kinds: a public
				dimension belongs to a Schema, and be used by several cubes;
				a private dimension belongs to a Cube.
				The foreignKey field is only applicable to private dimensions. 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Annotations" type="Annotations" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Hierarchy" type="Hierarchy" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>
					Name of this dimension
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" default="Standard">
			<xs:annotation>
				<xs:documentation>
					The dimension's type may be one of "Standard" or "Time".
					A time  dimension will allow the use of the MDX time functions
					(WTD, YTD, QTD, etc.). Use a standard dimension if the dimension
					is not a time-related dimension. The default value is "Standard". 
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Standard"/>
					<xs:enumeration value="TimeDimension"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="caption" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					A string being displayed instead of the dimensions's name.
					Can be localized from Properties file using #{propertyname}. 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Description of this dimension. Can be localized from Properties file using #{propertyname}.  
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="foreignKey" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The name of the column in the fact table which joins to the leaf level of this dimension.
					Required in a private Dimension or a DimensionUsage, but not in a public Dimension.  
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="highCardinality" type="xs:boolean" default="false" use="optional">
			<xs:annotation>
				<xs:documentation>
					Flag to mark this dimension as a high cardinality one and avoid caching.   
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DimensionUsage">
		<xs:annotation>
			<xs:documentation>
				A DimensionUsage is usage of a shared Dimension within the context of a cube.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Annotations" type="Annotations" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>
					Name of the dimension. Must be a dimension in this schema. Case-sensitive.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="source" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>
					Name of the source dimension. Must be a dimension in this schema. Case-sensitive.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Name of the level to join to. If not specified, joins to the lowest level of the dimension.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="usagePrefix" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					If present, then this is prepended to the Dimension column names
					during the building of collapse dimension aggregates allowing 1) different
					dimension usages to be disambiguated during aggregate table recognition and
					2) multiple shared dimensions that have common column names to be disambiguated. 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="foreignKey" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The name of the column in the fact table which joins to the leaf level of this dimension.
					Required in a private Dimension or a DimensionUsage, but not in a public Dimension.  
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="highCardinality" type="xs:boolean" default="false" use="optional">
			<xs:annotation>
				<xs:documentation>
					Flag to mark this dimension as a high cardinality one and avoid caching.   
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Hierarchy">
		<xs:annotation>
			<xs:documentation>
				<![CDATA[
				Defines a hierarchy.
				You must specify at most one <Relation> or memberReaderClass.
				If you specify none, the hierarchy is assumed to come from the same
				fact table of the current cube.
				]]>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Annotations" type="Annotations" minOccurs="0" maxOccurs="1"/>
			<xs:group ref="Relation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The Table, Join (set of tables), View (SQL statement), or InlineTable which populates this hierarchy. 
					</xs:documentation>
				</xs:annotation>
			</xs:group>
			<xs:element name="Level" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Annotations" type="Annotations" minOccurs="0" maxOccurs="1"/>
						<xs:element name="KeyExpression" type="ExpressionView" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									The SQL expression used to populate this level's key. 
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="NameExpression" type="ExpressionView" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									The SQL expression used to populate this level's name.
									If not specified, the level's key is used.  
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CaptionExpression" type="ExpressionView" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									Expression which forms the caption of members.
									If not specified, the level name is used.  
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OrdinalExpression" type="ExpressionView" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									The SQL expression used to populate this level's ordinal.  
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ParentExpression" type="ExpressionView" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									The SQL expression used to join to the parent member in a parent-child hierarchy.   
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Closure" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									Specifies the transitive closure of a parent-child hierarchy. Optional, but recommended
									for better performance. The closure is provided as a set of (parent/child) pairs: since it is
									the transitive closure these are actually (ancestor/descendant) pairs. 
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Table" type="Table" minOccurs="1" maxOccurs="1" />
								</xs:sequence>
								<xs:attribute name="parentColumn" type="xs:string" use="required"/>
								<xs:attribute name="childColumn" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Property" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									Member property. 
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="name" type="xs:string" use="required" />
								<xs:attribute name="column" type="xs:string" use="required" />
								<xs:attribute name="type" default="String" use="optional">
									<xs:annotation>
										<xs:documentation>
											Data type of this property: String, Numeric, Integer, Boolean, Date, Time or Timestamp. 
										</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="String"/>
											<xs:enumeration value="Numeric"/>
											<xs:enumeration value="Integer"/>
											<xs:enumeration value="Boolean"/>
											<xs:enumeration value="Date"/>
											<xs:enumeration value="Time"/>
											<xs:enumeration value="Timestamp"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="formatter" type="xs:string" use="optional">
									<xs:annotation>
										<xs:documentation>
											Name of a formatter class for the appropriate property value being displayed.
											The class must implement the mondrian.olap.PropertyFormatter interface. 
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="caption" type="xs:string" use="optional">
									<xs:annotation>
										<xs:documentation>
											A string being displayed instead of the name. Can be localized from Properties
											file using #{propertyname}.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="description" type="xs:string" use="optional">
									<xs:annotation>
										<xs:documentation>
											Description of this member property. Can be localized from Properties file using #{propertyname}.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="dependsOnLevelValue" type="xs:boolean" default="false" use="optional">
									<xs:annotation>
										<xs:documentation>
											Should be set to true if the value of the property is functionally dependent on the level value.
											This permits the associated property column to be omitted from the GROUP BY clause
											(if the database permits columns in the SELECT that are not in the GROUP BY).
											This can be a significant performance enhancement on some databases, such as MySQL. 
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="approxRowCount" type="xs:integer" use="optional">
						<xs:annotation>
							<xs:documentation>
								The estimated number of members in this level. Setting this property improves
								the performance of MDSCHEMA_LEVELS, MDSCHEMA_HIERARCHIES
								and MDSCHEMA_DIMENSIONS XMLA requests.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="name" type="xs:string" use="required" />
					<xs:attribute name="table" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>
								The name of the table that the column comes from. If this hierarchy
								is based upon just one table, defaults to the name of that table;
								otherwise, it is required. Can be localized from Properties file using #{propertyname}. 
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="column" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>
								The name of the column which holds the unique identifier of this level.  
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="nameColumn" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>
								The name of the column which holds the user identifier of this level.   
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ordinalColumn" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>
								The name of the column which holds member ordinals.
								If this column is not specified, the key column is used for ordering.    
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="parentColumn" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>
								The name of the column which references the parent member in a parent-child hierarchy.     
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="nullParentValue" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>
								Value which identifies null parents in a parent-child hierarchy. Typical values are 'NULL' and '0'.      
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="type" use="optional">
						<xs:annotation>
							<xs:documentation>
								Indicates the type of this level's key column: String, Numeric, Integer, Boolean, Date,
								Time or Timestamp. When generating SQL statements, Mondrian encloses values
								for String columns in quotation marks, but leaves values for Integer and Numeric columns un-quoted.
								Date, Time, and Timestamp values are quoted according to the SQL dialect.
								For a SQL-compliant dialect, the values appear prefixed by their typename, for example, "DATE '2006-06-01'".      
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="String"/>
								<xs:enumeration value="Numeric"/>
								<xs:enumeration value="Integer"/>
								<xs:enumeration value="Boolean"/>
								<xs:enumeration value="Date"/>
								<xs:enumeration value="Time"/>
								<xs:enumeration value="Timestamp"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="uniqueMembers" type="xs:boolean" default="false" use="optional">
						<xs:annotation>
							<xs:documentation>
								Whether members are unique across all parents. For example, zipcodes are unique across all states.
								The first level's members are always unique.      
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="levelType" default="Regular" use="optional">
						<xs:annotation>
							<xs:documentation>
								Whether this is a regular or a time-related level. The value makes a difference to time-related
								functions such as YTD (year-to-date).       
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Regular"/>
								<xs:enumeration value="TimeYears"/>
								<xs:enumeration value="TimeQuarters"/>
								<xs:enumeration value="TimeMonths"/>
								<xs:enumeration value="TimeWeeks"/>
								<xs:enumeration value="TimeDays"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="hideMemberIf" use="optional" default="Never">
						<xs:annotation>
							<xs:documentation>
								Condition which determines whether a member of this level is hidden. If a hierarchy has one
								or more levels with hidden members, then it is possible that not all leaf members are the same
								distance from the root, and it is termed a ragged hierarchy.
								Allowable values are: Never (a member always appears; the default);
								IfBlankName (a member doesn't appear if its name is null or empty); and
								IfParentsName (a member appears unless its name matches the parent's.
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Never"/>
								<xs:enumeration value="IfBlankName"/>
								<xs:enumeration value="IfParentsName"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="formatter" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>
								Name of a formatter class for the member labels being displayed.
								The class must implement the mondrian.olap.MemberFormatter interface. 
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="caption" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>
								A string being displayed instead of the level's name. Can be localized from
								Properties file using #{propertyname}. 
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="description" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>
								Description of this level. Can be localized from Properties file using #{propertyname}. 
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="captionColumn" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>
								The name of the column which holds the caption for members.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="MemberReaderParameter" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Not used
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:attribute name="value" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Name of the hierarchy. If this is not specified, the hierarchy
					has the same name as its dimension.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="hasAll" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>
					Whether this hierarchy has an 'all' member. 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="allMemberName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Name of the 'all' member. If this attribute is not specified,
					the all member is named 'All hierarchyName', for example, 'All Store'.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="allMemberCaption" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					A string being displayed instead as the all member's name.
					Can be localized from Properties file using #{propertyname}.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="allLevelName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Name of the 'all' level. If this attribute is not specified, the all member is named '(All)'.
					Can be localized from Properties file using #{propertyname}. 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="primaryKey" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The name of the column which identifies members, and which is referenced by rows
					in the fact table. If not specified, the key of the lowest level is used.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="primaryKeyTable" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The name of the table which contains primaryKey. If the hierarchy has only one table,
					defaults to that; otherwise it is required. 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="defaultMember" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Default member of this hierarchy. 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="memberReaderClass" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Name of the custom member reader class. Must implement the
					mondrian.rolap.MemberReader interface. 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="caption" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					A string to be displayed in the user interface. If not specified, the hierarchy's name is used.
					Can be localized from Properties file using #{propertyname}.  
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Description of this hierarchy. Can be localized from Properties file using #{propertyname}.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="uniqueKeyLevelName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Should be set to the level (if such a level exists) at which depth it is known that all members
					have entirely unique rows, allowing SQL GROUP BY clauses to be completely eliminated from the query. 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:group name="Relation">
		<xs:choice>
			<xs:element name="Table" type="Table"/>
			<xs:element name="View" type="View"/>
			<xs:element name="Join">
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="Relation" minOccurs="2" maxOccurs="2"/>
					</xs:sequence>
					<xs:attribute name="leftAlias" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Defaults to left's alias if left is a table, otherwise required. 
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="leftKey" type="xs:string"/>
					<xs:attribute name="rightAlias" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Defaults to right's alias if right is a table, otherwise required.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="rightKey" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="InlineTable">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ColumnDefs" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									Holder for an array of ColumnDef elements
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ColumnDef" minOccurs="1" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>
												Column definition for an inline table. 
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="name" type="xs:string">
												<xs:annotation>
													<xs:documentation>
														Name of the column. 
													</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="type">
												<xs:annotation>
													<xs:documentation>
														Type of the column: String, Numeric, Integer, Boolean, Date, Time or Timestamp. 
													</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="String" />
														<xs:enumeration value="Numeric" />
														<xs:enumeration value="Integer" />
														<xs:enumeration value="Boolean" />
														<xs:enumeration value="Date" />
														<xs:enumeration value="Time" />
														<xs:enumeration value="Timestamp" />
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
										</xs:complexType>
										
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Rows" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									Holder for an array of Row elements
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Row" minOccurs="1" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>
												Row definition for an inline table. Must have one Column for each ColumnDef in the InlineTable. 
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Value" minOccurs="1" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>
															Column value for an inline table. The CDATA holds the value of the column.
														</xs:documentation>
													</xs:annotation>
													<xs:complexType mixed="true">
														<xs:attribute name="column" type="xs:string">
															<xs:annotation>
																<xs:documentation>
																	Name of the column. 
																</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:group name="FactTable">
		<xs:choice>
			<xs:element name="Table" type="Table"/>
			<xs:element name="View" type="View"/>
			
			
		</xs:choice>
	</xs:group>
	<xs:group name="AggTable">
		<xs:annotation>
			<xs:documentation>
				A definition of an aggregate table for a base fact table.
				This aggregate table must be in the same schema as the base fact table. 
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="AggName">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AggFactCount" type="AggColumnName" minOccurs="1" maxOccurs="1"/>
						<xs:element name="AggIgnoreColumn" type="AggColumnName" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="AggForeignKey" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									The name of the column mapping from base fact table foreign key to aggregate table foreign key. 
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="factColumn" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>
											The name of the base fact table foreign key.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="aggColumn" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>
											The name of the aggregate table foreign key.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="AggMeasure" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="column" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>
											The name of the column mapping to the measure name.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="name" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>
											The name of the Cube measure.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="AggLevel" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="column" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>
											The name of the column mapping to the measure name.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="name" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>
											The name of the Cube measure.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="name" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>
								The Table name of a Specific aggregate table.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ignorecase" type="xs:boolean" default="true" use="optional">
						<xs:annotation>
							<xs:documentation>
								Whether or not the match should ignore case.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="AggPattern">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AggFactCount" type="AggColumnName" minOccurs="1" maxOccurs="1"/>
						<xs:element name="AggIgnoreColumn" type="AggColumnName" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="AggForeignKey" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									The name of the column mapping from base fact table foreign key to aggregate table foreign key. 
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="factColumn" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>
											The name of the base fact table foreign key.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="aggColumn" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>
											The name of the aggregate table foreign key.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="AggMeasure" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="column" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>
											The name of the column mapping to the measure name.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="name" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>
											The name of the Cube measure.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="AggLevel" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="column" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>
											The name of the column mapping to the measure name.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="name" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>
											The name of the Cube measure.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="AggExclude" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="pattern" type="xs:string" use="optional">
									<xs:annotation>
										<xs:documentation>
											A Table pattern not to be matched.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="name" type="xs:string" use="optional">
									<xs:annotation>
										<xs:documentation>
											The Table name not to be matched. 
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="ignorecase" type="xs:boolean" default="true" use="optional">
									<xs:annotation>
										<xs:documentation>
											Whether or not the match should ignore case.
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="pattern" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>
								A Table pattern used to define a set of aggregate tables.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ignorecase" type="xs:boolean" default="true" use="optional">
						<xs:annotation>
							<xs:documentation>
								Whether or not the match should ignore case.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:complexType name="AggColumnName">
		<xs:attribute name="column" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="SQL" mixed="true">
		<xs:attribute name="dialect" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>
					Dialect of SQL the view is intended for. Valid values include, but are not limited to:
					* generic
					* access
					* db2
					* derby
					* firebird
					* hsqldb
					* mssql
					* mysql
					* oracle
					* postgres
					* sybase
					* teradata
					* ingres
					* infobright
					* luciddb
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ExpressionView">
		<xs:sequence>
			<xs:element name="SQL" type="SQL" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Table">
		<xs:sequence>
			<xs:element name="SQL" type="SQL" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The SQL WHERE clause expression to be appended to any select statement 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AggExclude" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="pattern" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>
								A Table pattern not to be matched. 
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="name" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>
								The Table name not to be matched. 
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ignorecase" type="xs:boolean" use="optional" default="true">
						<xs:annotation>
							<xs:documentation>
								Whether or not the match should ignore case.  
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:group ref="AggTable" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						A definition of an aggregate table for a base fact table.
						This aggregate table must be in the same schema as the base fact table. 
					</xs:documentation>
				</xs:annotation>
			</xs:group>
			<xs:element name="Hint" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Dialect-specific table optimization hints.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="true">
					<xs:attribute name="type" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>
								Type of hint, interpreted and applied on a per-dialect basis.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="schema" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Optional qualifier for table. 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="alias" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Alias to be used with this table when it is used to form queries.
					If not specified, defaults to the table name, but in any case, must be unique within the schema.
					(You can use the same table in different hierarchies, but it must have different aliases.) 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="View">
		<xs:annotation>
			<xs:documentation>
				A collection of SQL statements, one per dialect. 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SQL" type="SQL" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="alias" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="CalculatedMember">
		<xs:sequence>
			<xs:element name="Annotations" type="Annotations" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Formula" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						MDX expression which gives the value of this member.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalculatedMemberProperty" type="CalculatedMemberProperty" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>
					Name of this calculated member.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="formatString" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Format string with which to format cells of this member.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="caption" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					A string being displayed instead of the name. Can be localized from Properties file using #{propertyname}.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Description of this calculated member. Can be localized from Properties file using #{propertyname}. 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="formula" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					MDX expression which gives the value of this member. Equivalent to the Formula sub-element.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dimension" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>
					Name of the dimension which this member belongs to.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="visible" type="xs:boolean" use="optional" default="true">
			<xs:annotation>
				<xs:documentation>
					Whether this member is visible in the user-interface. Default true.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CalculatedMemberProperty">
		<xs:annotation>
			<xs:documentation>
				Property of a calculated member defined against a cube. It must have either an expression or a value.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>
					Name of this member property.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="caption" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					A string being displayed instead of the Properties's name.
					Can be localized from Properties file using #{propertyname}.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Description of this calculated member property. Can be localized from Properties file using #{propertyname}. 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="expression" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					MDX expression which defines the value of this property.
					If the expression is a constant string, you could enclose it in quotes,
					or just specify the 'value' attribute instead.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Value of this property. If the value is not constant,
					specify the 'expression' attribute instead.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="NamedSet">
		<xs:annotation>
			<xs:documentation>
				Defines a named set which can be used in queries in the same way as a set
				defined using a WITH SET clause. A named set can be defined against a particular cube,
				or can be global to a schema. If it is defined against a cube, it is only available to queries which use that cube.
				A named set defined against a cube is not inherited by a virtual cubes defined against that cube.
				(But you can define a named set against a virtual cube). A named set defined against a schema
				is available in all cubes and virtual cubes in that schema.
				However, it is only valid if the cube contains dimensions with the names required to make the formula valid.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Annotations" type="Annotations" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Formula" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						MDX expression which gives the value of this set.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>
					Name of this named set.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="caption" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Caption of this named set. Can be localized from Properties file using #{propertyname}.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Description of this named set. Can be localized from Properties file using #{propertyname}. 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="formula" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					MDX expression which gives the value of this set. Equivalent to the Formula sub-element.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>